@import '../../../@theme/styles/themes';

@include nb-install-component() {
    .as-head{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .as-icon-primary{
        font-size:24px;
        cursor: pointer;
        color:nb-theme(color-primary-default);
        text-shadow: 2px 2px 2px #8f9bb3;
    }
}

@media (min-width: 800px) {
        nb-card {
            width: 52rem;
        }

        nb-card-body{
        min-height: 30vh;
    }
}