@import '../../../@theme/styles/themes';

@include nb-install-component() {
    nb-card-body{
        min-height: 50vh;
    }
}

.balance-text{
    color:silver;
}
.balance-box{
    background-color: #6200ee;
    color: #ffffff;
    border : 0.15rem solid #edf1f7;
    border-radius: 8px;
    padding-top: 0.6rem;
}

.as-head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.as-icon-primary{
    font-size:24px;
    cursor: pointer;
    color:nb-theme(color-primary-default);
    text-shadow: 2px 2px 2px #8f9bb3;
}

.as-list-number{
    font-family: Cairo; 
    font-size: 0.9375rem;
    color:nb-theme(color-primary-default);
}