<div class="row">
    <div class="col-md-12">

        <nb-card class="as-case-card">
            <nb-card-header>
                <div class="as-head">
                    <div class="header-container">
                        <nb-actions>
                            <nb-action class="control-item" icon="printer-outline"></nb-action>
                            <nb-action class="control-item ">
                                <h5>{{ "طباعة" | localize }}</h5>
                            </nb-action>
                        </nb-actions>
                    </div>
                    <div class="header-container">
                        <nb-actions>
                            <nb-action class="control-item">
                                <button type="button" nbButton status="basic" outline useExistingCss="true"
                                    printTitle="treasury" printSectionId="print-section" ngxPrint>
                                    <nb-icon icon="printer-outline"></nb-icon>
                                </button>
                            </nb-action>
                        </nb-actions>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body class="as-case-card-body">

                <div id="print-section" dir="rtl" style="width:100%;">
                    <div style="width:100%">
                        <h3 style="text-align: center;">الحوالة الصادرة</h3>
                    </div>
                    <div dir="rtl" style="display: flex;justify-content: space-between;">
                        <div>
                            <div>
                                <span style="margin-left:10px;">التاريخ</span><span>{{input.date |
                                    date:'dd/MM/yyyy'}}</span>
                            </div>
                            <div>
                                <span style="margin-left:10px;">الرقم</span><span>{{input.number}}</span>
                            </div>
                        </div>
                        <div>
                            <!-- <img src="../../assets/img/user.png" width="100" height="100" /> -->
                        </div>
                    </div>
                    <br />
                    <br />
                    <table dir="rtl" style="width:100%">
                        <tr style="width:100%;padding:10px;">
                            <td style="width:10%;border:1px solid #E0E0DF;">العملة</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{currencyName}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;">إلى شركة</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{toCompanyName}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;" *ngIf="input.paymentType == 1">من العميل </td>
                            <td style="width:10%;border:1px solid #E0E0DF;" *ngIf="input.paymentType == 2">من الشركة </td>
                            <td style="width:10%;border:1px solid #E0E0DF;" *ngIf="input.paymentType == 1">{{toClientName }}</td>
                            <td style="width:10%;border:1px solid #E0E0DF;" *ngIf="input.paymentType == 2">{{toCompanyName }}</td>
                            <td style="width:10%;border:1px solid #E0E0DF;" *ngIf="input.paymentType == 0"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;" *ngIf="input.paymentType == 0"></td>
                        </tr>
                        <tr>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "Country" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{countryName}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;"> {{ "PaymentType" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{paymentTypeName}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "Sender" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{senderName }}</td>
                        </tr>
                        <tr>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "SenderPhone" | localize }} </td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.sender.phoneNumber}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "Beneficiary" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.beneficiary.name}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "BeneficiaryPhone" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.beneficiary.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "Amount" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.amount}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "Commission" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.commission}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "CompanyCommission" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.companyCommission}}</td>
                        </tr>
                        <tr style="width:100%;padding:10px;">
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "ReceivedAmount" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.receivedAmount}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;">{{ "Reason" | localize }}</td>
                            <td style="width:15%;border:1px solid #E0E0DF;">{{input.reason}}</td>
                            <td style="width:5%;"></td>
                            <td style="width:10%;border:1px solid #E0E0DF;"></td>
                            <td style="width:15%;border:1px solid #E0E0DF;"></td>
                        </tr>
                    </table>

                </div>
            </nb-card-body>
            <!-- <nb-card-footer>
                <button nbButton status="primary">
                        <nb-icon icon="save"></nb-icon>
                        {{ 'Print' | localize }}
                    </button>
            </nb-card-footer> -->
        </nb-card>
    </div>
</div>
