@import '../../../../@theme/styles/themes';

@media (min-width: 800px) {
        nb-card {
            width: 52rem;
        }

        nb-card-body{
        min-height: 30vh;
    }
}

.tabset-height{
    max-height: 42vh
}