


<nb-card>
    <nb-card-header>
        <nb-card-header>
            <div class="as-head">
                <div class="header-container">
                    <nb-actions>
                        <nb-action class="control-item" icon="file-text-outline"></nb-action>
                        <nb-action class="control-item ">
                            <h5>{{ "SendTransfers" | localize }}</h5>
                        </nb-action>
                    </nb-actions>
                </div>
                <div class="header-container"></div>
            </div>
        </nb-card-header>
    </nb-card-header>
    <nb-card-body>
        <textarea name="d" id="d" style="border: none;" cols="70" rows="20">{{dataCopy}}</textarea>
    </nb-card-body>
</nb-card>




<!-- <nb-card>
    <nb-card-header>
        <nb-card-header>
            <div class="as-head">
                <div class="header-container">
                    <nb-actions>
                        <nb-action class="control-item" icon="file-text-outline"></nb-action>
                        <nb-action class="control-item ">
                            <h5>{{ "SendTransfers" | localize }}</h5>
                        </nb-action>
                    </nb-actions>
                </div>
                <div class="header-container"></div>
            </div>
        </nb-card-header>
    </nb-card-header>
    <nb-card-body>
        <div class="scrollbar scrollbar-primary">
            <div *ngFor="let item of data,let i = index">
                <div class="row">
                    <h5 class="col-md-12">
                        {{"//// الحوالة "}} {{i+1}}
                    </h5>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Date" | localize }}
                    </label>
                    <div class="col-md-9">
                        <span id='name' name='name'>{{item?.date}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Currency" | localize }}
                    </label>
                    <div class="col-md-9">
                        <span id='name' name='name'>{{item?.currency?.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "ToCompany" | localize }}
                    </label>
                    <div class="col-md-9">
                        <span id='name' name='name'>{{item?.toCompany.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "PaymentType" | localize }}
                    </label>
                    <div class="col-md-9">
                        <span *ngIf="item.paymentType == 0 ">نقدي</span>
                        <span *ngIf="item.paymentType == 1 ">ذمم عملاء</span>
                        <span *ngIf="item.paymentType == 2 ">ذمم شركات</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "From-Company-Client" | localize }}
                    </label>
                    <div class="col-md-9">
                        <span *ngIf="item.fromClient != undefined">{{'Client' | localize}} /
                            {{item.fromClient.name}}</span>
                        <span *ngIf="item.fromCompany != undefined">{{'Company' | localize}} /
                            {{item.fromCompany.name}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Amount" | localize }}
                    </label>
                    <div class="col-md-9">
                        <span id='name' name='name'>{{item?.amount}}</span>
                    </div>
                </div>
            </div>
        </div>           
    </nb-card-body>
</nb-card> -->
            

