<form class="form-horizontal" autocomplete="off" #searshForm="ngForm" (ngSubmit)="search()">
    <nb-card class="as-case-card">
        <nb-card-header>
            <nb-actions>
                <nb-action class="control-item" icon="search-outline"></nb-action>
                <nb-action class="control-item ">
                    <h5>{{ "Search" | localize }}</h5>
                </nb-action>
            </nb-actions>
            
        </nb-card-header>
        <nb-card-body class="as-case-card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="fromDate">
                            {{ "FromDate" | localize }}
                        </label>
                        <div  class="col-md-9">
                            <ejs-datepicker [format]="'dd/MM/yyyy'" 
                            id='fromDate' 
                            name='fromDate' 
                            cssClass="as-sy-input"
                            locale='en'
                            required
                            placeholder="{{ 'SelectDate' | localize }}"
                            [(ngModel)]="fromDate"
                            #fromDateModel="ngModel" 
                            #fromDateEl
                            ></ejs-datepicker>
                            <abp-validation-summary [control]="fromDateModel" [controlEl]="fromDateEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="toDate">
                            {{ "ToDate" | localize }}
                        </label>
                        <div  class="col-md-9">
                            <ejs-datepicker [format]="'dd/MM/yyyy'" 
                            id='toDate' 
                            name='toDate' 
                            cssClass="as-sy-input"
                            locale='en'
                            required
                            placeholder="{{ 'SelectDate' | localize }}"
                            [(ngModel)]="toDate"
                            #toDateModel="ngModel" 
                            #toDateEl
                            ></ejs-datepicker>
                            <abp-validation-summary [control]="toDateModel" [controlEl]="toDateEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
                
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="actionType">
                            {{ "ActionType" | localize }}
                        </label>
                        <div  class="col-md-9">
                            <ejs-dropdownlist 
                            id='actionType' 
                            name='actionType' 
                            cssClass="as-sy-input"
                            [dataSource]='actionTypes' 
                            [enableRtl]="true" 
                            [fields]='fields' 
                            (change)='onActionTypeChange($event)'
                            required
                            [(ngModel)]="actionType"
                            #actionTypeModel="ngModel" 
                            #actionTypeEl
                            ></ejs-dropdownlist>
                            <abp-validation-summary [control]="actionTypeModel" [controlEl]="actionTypeEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="currency">
                            {{ "Currency" | localize }}
                        </label>
                        <div  class="col-md-9">
                            <ejs-dropdownlist 
                            id='currency' 
                            name='currency' 
                            cssClass="as-sy-input"
                            [dataSource]='currencies' 
                            [enableRtl]="true" 
                            [fields]='fields' 
                            required
                            [(ngModel)]="currencyId"
                            #currencyModel="ngModel" 
                            #currencyEl
                            ></ejs-dropdownlist>
                            <abp-validation-summary [control]="currencyModel" [controlEl]="currencyEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="paymentType">
                            {{ "PaymentType" | localize }}
                        </label>
                        <div  class="col-md-9">
                            <ejs-dropdownlist 
                            id='paymentType' 
                            name='paymentType' 
                            cssClass="as-sy-input"
                            [dataSource]='paymentTypes' 
                            [enableRtl]="true" 
                            [fields]='fields'
                            (change)='onPaymentTypeChange($event)' 
                            required
                            [(ngModel)]="paymentType"
                            #paymentTypeModel="ngModel" 
                            #paymentTypeEl
                            ></ejs-dropdownlist>
                            <abp-validation-summary [control]="paymentTypeModel" [controlEl]="paymentTypeEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="paymentType == 1">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="client">
                            {{ "Client" | localize }}
                        </label>
                        <div  class="col-md-9">
                            <ejs-dropdownlist 
                            id='client' 
                            name='client' 
                            cssClass="as-sy-input"
                            [dataSource]='clients' 
                            [enableRtl]="true" 
                            [fields]='fields' 
                            required
                            [(ngModel)]="clientId"
                            #clientModel="ngModel" 
                            #clientEl
                            ></ejs-dropdownlist>
                            <abp-validation-summary [control]="clientModel" [controlEl]="clientEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" *ngIf="paymentType == 2">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="company">
                            {{ "Company" | localize }}
                        </label>
                        <div  class="col-md-9">
                            <ejs-dropdownlist 
                            id='company' 
                            name='company' 
                            cssClass="as-sy-input"
                            [dataSource]='companies' 
                            [enableRtl]="true" 
                            [fields]='fields' 
                            required
                            [(ngModel)]="companyId"
                            #companyModel="ngModel" 
                            #companyEl
                            ></ejs-dropdownlist>
                            <abp-validation-summary [control]="companyModel" [controlEl]="companyEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer (onCancelClick)="dialogRef.close()" [saveLabel]="'بحث'"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>

