<form class="form-horizontal" autocomplete="off" #createExchangeCurrencyForm="ngForm" (ngSubmit)="save()">
    <nb-card>
        <nb-card-header>
            <div class="as-head">
                <div class="header-container">
                    <nb-actions>
                        <nb-action class="control-item" icon="trending-up-outline"></nb-action>
                        <nb-action class="control-item ">
                            <h5>{{ "ExchangeCurrency" | localize }}</h5>
                        </nb-action>
                    </nb-actions>
                </div>
                <div class="header-container">
                    <nb-actions>
                        <nb-action>
                            <button nbButton status="primary" type="submit" [disabled]="!createExchangeCurrencyForm.form.valid || saving">
                                <nb-icon icon="save"></nb-icon>
                                {{ 'Save' | localize }}
                            </button>
                        </nb-action>
                        <nb-action class="control-item" (click)="showSearchDialog()"><i class="fa fa-binoculars as-icon-primary" aria-hidden="true"></i></nb-action>
                    </nb-actions>
                </div>
            </div>
            
            
            
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="name">
                            {{ "PaymentType" | localize }}
                        </label>
                        <div class="col-md-9">
                            <ejs-dropdownlist id='paymentType' name='paymentType' cssClass="as-sy-input"
                                [dataSource]='paymentTypes' [enableRtl]="true" [fields]='fields'
                                (change)="onchangePaymentType($event)" required [(ngModel)]="exchangeCurrency.paymentType"
                                #paymentTypeModel="ngModel" #paymentTypeEl></ejs-dropdownlist>
                            <abp-validation-summary [control]="paymentTypeModel" [controlEl]="paymentTypeEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-4">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="actionType">
                            {{ "ActionType" | localize }}
                        </label>
                        <div class="col-md-9">
                            <ejs-dropdownlist id='actionType' name='actionType' cssClass="as-sy-input"
                                [dataSource]='actionTypes' [enableRtl]="true" [fields]='fields'
                                (change)="onchangeActionType($event)" required [(ngModel)]="exchangeCurrency.actionType"
                                #actionTypeModel="ngModel" #actionTypeEl></ejs-dropdownlist>
                            <abp-validation-summary [control]="actionTypeModel" [controlEl]="actionTypeEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 col-md-4">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="date">
                            {{ "Date" | localize }}
                        </label>
                        <div class="col-md-9">
                            <ejs-datepicker [format]="'dd/MM/yyyy'" id='date' name='date' cssClass="as-sy-input" required [locale]="'en-US'"
                                placeholder="{{ 'Date' | localize }}" [(ngModel)]="date" #dateModel="ngModel" #dateEl>
                            </ejs-datepicker>
                            <abp-validation-summary [control]="dateModel" [controlEl]="dateEl">
                            </abp-validation-summary>
                        </div>  
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-4" *ngIf="exchangeCurrency.paymentType == 1">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="client">
                            {{ "Client" | localize }}
                        </label>
                        <div class="col-md-9">
                            <ejs-dropdownlist id='client' name='client' cssClass="as-sy-input"
                                [dataSource]='clients' [enableRtl]="true" [fields]='fields'
                                (change)="onchangeClient($event)" [(ngModel)]="exchangeCurrency.clientId"
                                #clientModel="ngModel" #clientEl></ejs-dropdownlist>
                            <abp-validation-summary [control]="clientModel" [controlEl]="clientEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" *ngIf="exchangeCurrency.paymentType == 2">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="client">
                            {{ "Company" | localize }}
                        </label>
                        <div class="col-md-9">
                            <ejs-dropdownlist id='company' name='company' cssClass="as-sy-input"
                                [dataSource]='companies' [enableRtl]="true" [fields]='fields'
                                (change)="onchangeCompany($event)" [(ngModel)]="exchangeCurrency.companyId"
                                #companyModel="ngModel" #companyEl></ejs-dropdownlist>
                            <abp-validation-summary [control]="companyModel" [controlEl]="companyEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="firstCurrency">
                                    {{ "FirstCurrency" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <ejs-dropdownlist id='firstCurrency' name='firstCurrency' cssClass="as-sy-input"
                                        [dataSource]='currencies' [enableRtl]="true" [fields]='fields'
                                        (change)="onchangeFirstCurrency($event)" required
                                        [(ngModel)]="exchangeCurrency.firstCurrencyId" #firstCurrencyModel="ngModel"
                                        #firstCurrencyEl></ejs-dropdownlist>
                                    <abp-validation-summary [control]="firstCurrencyModel" [controlEl]="firstCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row required">
                                <label class="col-md-3 col-form-label" for="secondCurrency">
                                    {{ "SecondCurrency" | localize }}
                                </label>
                                <div class="col-md-9">
                                    <ejs-dropdownlist id='secondCurrency' name='secondCurrency' cssClass="as-sy-input"
                                        [dataSource]='currencies' [enableRtl]="true" [fields]='fields'
                                        (change)="onchangeSecondCurrency($event)" required
                                        [(ngModel)]="exchangeCurrency.secondCurrencyId" #secondCurrencyModel="ngModel"
                                        #secondCurrencyEl></ejs-dropdownlist>
                                    <abp-validation-summary [control]="secondCurrencyModel" [controlEl]="secondCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <!-- Previous Balance -->
                        <div class="col-md-6 balance-box">
                            <div class="row">
                                <label class="col-md-5 balance-text col-form-label">
                                    {{ "PreviousBalance" | localize }} / {{firstCurrency?.name}}
                                </label>
                                <div class="col-md-7">
                                    <input class="e-input as-sy-input" type="text" tabindex="-1"
                                        value="{{ getBalance(previousBalanceFirstCurrency) }}" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-5 balance-text col-form-label">
                                    {{ "CurrentBalance" | localize }}  / {{firstCurrency?.name}}
                                </label>
                                <div class="col-md-7">
                                    <input class="e-input as-sy-input" type="text" tabindex="-1"
                                        value="{{ getBalance(currentBalanceFirstCurrency) }}" readonly />
                                </div>
                            </div>
                        </div>
                        <!-- Current Balance -->
                        <div class="col-md-6 balance-box">
                            <div class="row">
                                <label class="col-md-5 balance-text col-form-label">
                                    {{ "PreviousBalance" | localize }} / {{secondCurrency?.name}}
                                </label>
                                <div class="col-md-7">
                                    <input class="e-input as-sy-input" type="text" tabindex="-1"
                                        value="{{ getBalance(previousBalanceSecondCurrency) }}" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-5 balance-text col-form-label">
                                    {{ "CurrentBalance" | localize }} / {{secondCurrency?.name}}
                                </label>
                                <div class="col-md-7">
                                    <input class="e-input as-sy-input" type="text" tabindex="-1"
                                        value="{{ getBalance(currentBalanceSecondCurrency) }}" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="amountOfFirstCurrency">
                                    <span *ngIf="firstCurrency == undefined">{{ "AmoutOfSecondCurrency" | localize }}</span>
                                    <span *ngIf="firstCurrency != undefined">{{ "Amount" | localize }}{{' ' + firstCurrency.name}}</span>
                                </label>
                                <div  class="col-md-8">
                                    <ejs-numerictextbox [showSpinButton]="false"  
                                    format='N'
                                    cssClass="as-sy-input"
                                    id='amountOfFirstCurrency' 
                                    name='amountOfFirstCurrency' 
                                    class="e-input as-sy-input"
                                    autocomplete="off" 
                                    [showSpinButton]="false"
                                    (change)="onchangeFirstAmount($event)"
                                    [(ngModel)]="exchangeCurrency.amountOfFirstCurrency"
                                    #amountOfFirstCurrencyModel="ngModel" 
                                    #amountOfFirstCurrencyEl
                                    ></ejs-numerictextbox>
                                    <abp-validation-summary [control]="amountOfFirstCurrencyModel" [controlEl]="amountOfFirstCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="amountOfSecondCurrency">
                                    <span *ngIf="secondCurrency == undefined">{{ "AmoutOfSecondCurrency" | localize }}</span>
                                    <span *ngIf="secondCurrency != undefined">{{ "Amount" | localize }}{{' ' + secondCurrency.name}}</span>
                                </label>
                                <div  class="col-md-8">
                                    <ejs-numerictextbox [showSpinButton]="false"  
                                    id='amountOfSecondCurrency' 
                                    name='amountOfSecondCurrency' 
                                    format='N'
                                    [showSpinButton]="false"
                                    cssClass="as-sy-input"
                                    (change)="onchangeSeconedAmount($event)"
                                    [enableRtl]="true" 
                                    [(ngModel)]="exchangeCurrency.amoutOfSecondCurrency"
                                    #amountOfSecondCurrencyModel="ngModel" 
                                    #amountOfSecondCurrencyEl
                                    ></ejs-numerictextbox>
                                    <abp-validation-summary [control]="amountOfSecondCurrencyModel" [controlEl]="amountOfSecondCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="paidAmountOfFirstCurrency">
                                    <span *ngIf="exchangeCurrency.actionType == 0">{{ "PaidAmount" | localize }}</span>
                                    <span *ngIf="exchangeCurrency.actionType == 1  || exchangeCurrency.actionType == undefined">{{ "ReceivedAmount" | localize }}</span>
                                    
                                    <!-- <span *ngIf="firstCurrency != undefined">{{ "PaidAmount" | localize }}{{' ' + firstCurrency.name}}</span> -->
                                </label>
                                <div  class="col-md-8" *ngIf="exchangeCurrency.actionType == 0">
                                    <ejs-numerictextbox [showSpinButton]="false"  
                                    id='paidAmountOfFirstCurrency' 
                                    name='paidAmountOfFirstCurrency' 
                                    format='N'
                                    [readonly]="exchangeCurrency.paymentType != 1"
                                    cssClass="as-sy-input"
                                    [enableRtl]="true" 
                                    [showSpinButton]="false"
                                    [(ngModel)]="exchangeCurrency.paidAmountOfFirstCurrency"
                                    #paidAmountOfFirstCurrencyModel="ngModel" 
                                    #paidAmountOfFirstCurrencyEl
                                    ></ejs-numerictextbox>
                                    <abp-validation-summary [control]="paidAmountOfFirstCurrencyModel" [controlEl]="paidAmountOfFirstCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                                <div  class="col-md-8" *ngIf="exchangeCurrency.actionType == 1">
                                    <ejs-numerictextbox [showSpinButton]="false"  
                                    id='receivedAmountOfFirstCurrency' 
                                    name='receivedAmountOfFirstCurrency' 
                                    format='N'
                                    [readonly]="exchangeCurrency.paymentType != 1"
                                    cssClass="as-sy-input"
                                    [enableRtl]="true" 
                                    [showSpinButton]="false"
                                    [(ngModel)]="exchangeCurrency.receivedAmountOfFirstCurrency"
                                    #receivedAmountOfFirstCurrencyModel="ngModel" 
                                    #receivedAmountOfFirstCurrencyEl
                                    ></ejs-numerictextbox>
                                    <abp-validation-summary [control]="receivedAmountOfFirstCurrencyModel" [controlEl]="receivedAmountOfFirstCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label" for="receivedAmountOfFirstCurrency">
                                    <span *ngIf="exchangeCurrency.actionType == 0  || exchangeCurrency.actionType == undefined">{{ "ReceivedAmount" | localize }}</span>
                                    <span *ngIf="exchangeCurrency.actionType == 1">{{ "PaidAmount" | localize }}</span>
                                    <!-- <span *ngIf="secondCurrency != undefined">{{ "ReceivedAmount" | localize }}{{' ' + secondCurrency.name}}</span> -->
                                </label>
                                <div  class="col-md-8" *ngIf="exchangeCurrency.actionType == 0">
                                    <ejs-numerictextbox [showSpinButton]="false"  
                                    id='receivedAmountOfSecondCurrency' 
                                    name='receivedAmountOfSecondCurrency' 
                                    format='N'
                                    [readonly]="exchangeCurrency.paymentType != 1"
                                    cssClass="as-sy-input"
                                    [enableRtl]="true" 
                                    [showSpinButton]="false"
                                    [(ngModel)]="exchangeCurrency.receivedAmountOfSecondCurrency"
                                    #receivedAmountOfSecondCurrencyModel="ngModel" 
                                    #receivedAmountOfSecondCurrencyEl
                                    ></ejs-numerictextbox>
                                    <abp-validation-summary [control]="receivedAmountOfSecondCurrencyModel" [controlEl]="receivedAmountOfSecondCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                                <div  class="col-md-8" *ngIf="exchangeCurrency.actionType == 1">
                                    <ejs-numerictextbox [showSpinButton]="false"  
                                    id='paidAmountOfSecondCurrency' 
                                    name='paidAmountOfSecondCurrency' 
                                    format='N'
                                    [readonly]="exchangeCurrency.paymentType != 1"
                                    cssClass="as-sy-input"
                                    [enableRtl]="true" 
                                    [showSpinButton]="false"
                                    [(ngModel)]="exchangeCurrency.paidAmountOfSecondCurrency"
                                    #paidAmountOfSecondCurrencyModel="ngModel" 
                                    #paidAmountOfSecondCurrencyEl
                                    ></ejs-numerictextbox>
                                    <abp-validation-summary [control]="paidAmountOfSecondCurrencyModel" [controlEl]="paidAmountOfSecondCurrencyEl">
                                    </abp-validation-summary>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Main Exchange Price -->
                    <div class="col-md-12 balance-box">
                        <div class="row required">
                            <label class="col-md-4 balance-text col-form-label">
                                {{ "ExchangePrice" | localize }}
                            </label>
                            <div class="col-md-8">
                                    <ejs-numerictextbox [showSpinButton]="false"  
                                    id='exchangePrice' 
                                    name='exchangePrice' 
                                    required
                                    format='N'
                                    (change)="onchangeExchangePrice($event)"
                                    [showSpinButton]="false"
                                    cssClass="as-sy-input"
                                    [enableRtl]="true" 
                                    [(ngModel)]="exchangeCurrency.exchangePrice"
                                    #exchangePriceModel="ngModel" 
                                    #exchangePriceEl
                                    ></ejs-numerictextbox>
                                    <abp-validation-summary [control]="exchangePriceModel" [controlEl]="exchangePriceEl">
                                    </abp-validation-summary>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="note">
                            {{ "Note" | localize }}
                        </label>
                        <div  class="col-md-10">
                            <textarea 
                            style="width:100%;" 
                            id='note' 
                            name='note' 
                            class="e-input as-sy-input"
                            autocomplete="off" 
                            [(ngModel)]="exchangeCurrency.note"
                            ></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            
        </nb-card-footer>
    </nb-card>
    
    </form>