@import '../../../@theme/styles/themes';

@include nb-install-component() {
    .balance-text{
        color:silver;
    }
    .balance-box{
        background-color: #f7f9fc;
        //border : 0.15rem solid #edf1f7;
        border-radius: 3px;
    }
    
    .balance-box label{
        color:silver;
    }
}