<form class="form-horizontal" autocomplete="off" #addCommisionForm="ngForm" (ngSubmit)="checkPassword()">
    <nb-card>
        <nb-card-header>
            {{'أدخل كلمة مرور التعديل' | localize}}
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-md-12">
                    <!--Name-->
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="password">
                            {{ "كلمة المرور" | localize }}
                        </label>
                        <div class="col-md-9">
                            <input nbInput type="password" class="form-control" name="password" id="password" minlength="2"
                                required [(ngModel)]="input.password" #passwordModel="ngModel" #passwordEl />
                            <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl">
                            </abp-validation-summary>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="container">
                        <small style="color:brown;" *ngIf="invalidPassword">كلمة المرور خاطئة</small>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <abp-modal-footer [saveLabel]="'تحقق'" [saveDisabled]="!addCommisionForm.form.valid"
                (onCancelClick)="dialogRef.close()"></abp-modal-footer>
        </nb-card-footer>
    </nb-card>
</form>