
<div>
    <div class="row">
        <div class="col-md-12">
            <nb-card class="as-case-card">
                <nb-card-header>
                    <nb-actions>
                        <nb-action class="control-item" icon="archive-outline"></nb-action>
                        <nb-action class="control-item ">
                            <h5>{{ "ExchangePrice" | localize }}</h5> 
                        </nb-action>
                        <nb-action class="control-item">
                            <h6 class="main-currency">{{ "MainCurrency" | localize }} : {{mainCurrency}}</h6>
                        </nb-action>
                    </nb-actions>
                </nb-card-header>
                <nb-card-body class="as-case-card-body">
                    
                    <ejs-grid id="exchangePriceGrid" #exchangePriceGrid [dataSource]='exchangePrices'  (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)'
                    [allowFiltring]="true" [allowSorting]="true" width='100%' [allowPaging]="true" [editSettings]='editSettings' [toolbar]='toolbar'
                    [pageSettings]="pageSettings">
                        <e-columns>
                            <e-column field="id" headerText="Id" isPrimaryKey="true" [visible]="false"></e-column>
                            <e-column field="currency.name" headerText='{{"Currency" | localize}}' textAlign='center' [allowEditing]="false"></e-column>
                            <e-column field='mainPrice' headerText='{{"MainPrice" | localize}}' format='N' textAlign='center' type='number' editType='numericedit'></e-column>
                            <e-column field='sellingPrice' headerText='{{"SellingPrice" | localize}}' format='N' textAlign='center' type='number' editType='numericedit'></e-column>
                            <e-column field='purchasingPrice' headerText='{{"PurchasingPrice" | localize}}' format='N' textAlign='center' type='number' editType='numericedit'></e-column>
                        </e-columns>
                    </ejs-grid>
                    
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    
</div>
