@import '../../../@theme/styles/themes';

@include nb-install-component() {

    .as-listbox{
        height: 30vh;
    }
}

@media (min-width: 800px) {
        nb-card {
            width: 52rem;
        }

        nb-card-body{
        min-height: 30vh;
    }
}