<div class="row">
    <div class="col-md-12">
        <nb-card class="as-case-card">
            <nb-card-header class="as-head">
                <div class="header-container">
                    <nb-actions>
                        <nb-action class="control-item" icon="swap-outline"></nb-action>
                        <nb-action class="control-item ">
                            <h5>{{ "Customers" | localize }}</h5>
                        </nb-action>
                    </nb-actions>
                </div>
                <div class="header-container">
                    <nb-actions class="float">
                        <nb-action class="control-item" icon="corner-up-left-outline" routerLink="/app/home"></nb-action>
                    </nb-actions>
                </div>
            </nb-card-header>
            <nb-card-body class="as-case-card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <ejs-dropdownlist id='customerIds' name='customerIds' width="250" cssClass="as-sy-input"
                                [dataSource]='customers' floatLabelType="Auto" [enableRtl]="true" [fields]='fields'
                                (change)="getCustomerInfo($event)" [autofocus]="true"
                                placeholder="{{'Customer' | localize}}">
                            </ejs-dropdownlist>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row" *ngIf="loading">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row ">
                                    <label class="col-md-3 col-form-label" for="currency">
                                        {{ "Name" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <input id='name' name='name' [value]="customer.name" class="form-control-plaintext" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="amount">
                                        {{ "Address" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <input id='address' name='address' [value]="customer.address" class="form-control-plaintext" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="exchangeParty">
                                        {{ "PhoneNumber" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <input id='phoneNumber' name='phoneNumber' [value]="customer.phoneNumber" class="form-control-plaintext" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="instrumentNo">
                                        {{ "IdentificationNumber" | localize }}
                                    </label>
                                    <div class="col-md-9">
                                        <input id='identificationNumber' name='identificationNumber' [value]="customer.identificationNumber" class="form-control-plaintext" readonly />
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <!-- Photo -->
                    <div class="col-md-5">
                        <div class="row">
                            <div [ngClass]="'col-md-6'" *ngFor="let image of customer.images">
                                <div *ngIf="customer.images.length > 0">
                                    <div class="upload-img">
                                        <img [src]="getSrc(image)" width="200"
                                            height="177" />
                                        <div class="upload-img-view">
                                            <a [nbPopover]="templateRef" nbPopoverTrigger="hint"
                                                nbPopoverPlacement="right"><nb-icon
                                                    icon="maximize-outline"></nb-icon></a>
                                            <ng-template #templateRef>
                                                <div
                                                    style="padding: 10px; background-color:darkslategrey;border-radius: 0.25rem;">
                                                    <img [src]="getSrc(image)"
                                                        style="width: 40rem;border-radius: 0.25rem;" />
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>