@import '../../../../@theme/styles/themes';

.as-head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


@media (min-width: 800px){
    .float{
        float: left;
    }
  }

    @media (max-width: 800px){
    .scrollbar {
  height: 500px !important;
  width: inherit !important;
  background: #fff !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
  }