<form
  class="form-horizontal"
  autocomplete="off"
  #changeTenantForm="ngForm"
  (ngSubmit)="save()"
>
<div class="card">
  <div class="card-header">
    <div >
      <h4 class="modal-title">{{ 'ChangeTenant' | localize }}</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "TenancyName" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="tenancyName"
          name="tenancyName"
          [(ngModel)]="tenancyName"
          maxlength="64"
        />
      </div>
    </div>
    <span>
      <i class="fa fa-info-circle"></i>
      {{ "LeaveEmptyToSwitchToHost" | localize }}
    </span>
  </div>
  <div class="card-footer">
    <div class="btn-footer justify-content-between">
      <button class="btn btn-primary" [disabled]="saveDisabled">
        
        حفظ
      </button>
    
      <button
        class="btn btn-danger"
        [disabled]="!changeTenantForm.form.valid || saving"
        (click)="bsModalRef.hide()"
      >
        إغلاق
      </button>
    </div>
  </div>
</div>
</form>
