<form
  class="form-horizontal"
  autocomplete="off"
  #changeTenantForm="ngForm"
  (ngSubmit)="save()"
>
<div class="card" dir="rtl">
  <div class="card-header">
    <div >
      <h4 class="modal-title float-right">{{ 'تغيير الشركة' | localize }}</h4>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label " for="tenancyName">
        {{ "اسم الشركة" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          id="tenancyName"
          name="tenancyName"
          [(ngModel)]="tenancyName"
          maxlength="64"
        />
      </div>
    </div>
    <!-- <span>
      <i class="fa fa-info-circle"></i>
      {{ "LeaveEmptyToSwitchToHost" | localize }}
    </span> -->
  </div>
  <div class="card-footer">
    <div class="btn-footer justify-content-between">
      <button class="btn btn-primary" [disabled]="!changeTenantForm.form.valid || saving">
        <i class="fa fa-save mx-1"></i>
        حفظ
      </button>
    
      <button
        class="btn btn-danger"
        (click)="bsModalRef.hide()"
      >
      <i class="fa fa-times mx-1"></i>
        إغلاق
      </button>
    </div>
  </div>
</div>
</form>
